---
layout: default
title: 404
permalink: /404/
---

<div class="container-fluid index error">
  <div class="row">

    <div class="col-md-12 content-panel articles">
      <h1 class="header author-header">404</h1>

      <div class="error-text">
        Sorry but this page doesn't seem to exist.
      </div>

      <div class="error-text">
        <a href="{{ site.baseurl }}/">Home</a> |
        <a href="{{ site.baseurl }}/posts/">All Posts</a> |
        <a href="{{ site.baseurl }}/search/">Search</a>
      </div>

      {% include social_links.html %}

    </div>

  </div>

  <div class="content-panel related">
    {% for post in site.posts limit:1 %}
      <div class="related-header">
        <a href="{{ site.baseurl }}{{ post.url }}">Suggested Article</a>
      </div>
      <div class="title">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </div>
      <div class="excerpt">
         {% if post.summary %}
          {{ post.summary | strip_html | truncatewords:30 }}
         {% else %}
          {{ post.excerpt | strip_html | truncatewords:30 }}
         {% endif %}
        <a href="{{ site.baseurl }}{{ post.url }}">Continue Reading</a>
      </div>
    {% endfor %}
  </div>

</div>
